@keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .transition-slide-up {
    animation: slideUp .85s ease-in-out;
  }
  
  .transition-slide-down {
    animation: slideDown .85s ease-in-out  forwards;
  }
  