.hero {
    position: relative;
    background-image: url('../assets/images/hero-bg.svg');
    background-size: contain; /* Adjust how the image covers the element */
    background-position: center center; /* Adjust the image position */
    height: 100vh;
    cursor: url('../assets/images/cursor.svg'), auto;
}

.no-drag{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.marquee-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px 4px rgba(19, 164, 166, 0.484);
}