$theme-cyan: #00ffe6;

.dynamic-width-a {
  width: calc((90vw - 80px) / 2);
}

.dynamic-width-b {
  width: calc((90vw + 80px) / 2);
}

.progress-parent {
  background-color: #ffffff22;

  > div {
    animation: fillDrop 5s ease-in-out 0s infinite forwards;
  }
}

@font-face {
  font-family: "Terminus";
  src: url("/fonts/Terminus (TTF) 500.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Terminus";
  src: url("/fonts/Terminus (TTF) Bold 700.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Terminus";
  src: url("/fonts/Terminus (TTF) Bold Italic 700.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Terminus";
  src: url("/fonts/Terminus (TTF) Italic 500.ttf");
  font-weight: normal;
  font-style: italic;
}

.link-wrap {
  .icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }

  &:hover {
    background-color: $theme-cyan;

    .icon-holder {
      background-color: #000;
    }

    span {
      color: #000;
      font-weight: bold;
    }
  }
}

.ham {
    transform-origin: center center;
    div{
        transition: all .44s ease-in 0s;
    }

  &:hover {
    background-color: $theme-cyan;

    div {
      opacity: 1;
      background-color: #000000;
    }
  }

}